body {
  color: white;
}

.big-row {
  margin-left: 0px;
  padding-left: 5px;
}
.jumbotron {
  background: rgb(80, 126, 117);
  background: linear-gradient(
    0deg,
    rgba(80, 126, 117, 1) 0%,
    rgba(141, 219, 205, 1) 83%
  );
}
.main-image {
  width: 230px;
  height: 202px;
  vertical-align: bottom;
  box-shadow: 25px 18px 90px rgb(0 0 0 / 45%), -23px -16px 19px rgb(0 0 0 / 16%);
}
.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.main-info h6 {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.Throwbacks {
  font-size: 70px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: -3px;
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.jumbo-words-under {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 18px;
}
.a-changes-jumbo {
  color: rgba(255, 255, 255);
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.jumbo-words {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 15px;
}
.jumbo-words li {
  overflow-y: auto;
  white-space: nowrap;
}
.play-bottom {
  bottom: 1px;
  right: 21px;
  width: 35px;
  height: 35px;
  opacity: 1;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.4s ease;
}
.play-bottom::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0px;
  border-top: 8px solid transparent;
  border-left: 18px solid rgb(0, 0, 0);
  border-bottom: 8px solid transparent;
  top: 0px;
  right: -3px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}
.play-button-two {
  width: 64px;
  height: 64px;
  background-color: #27ae60;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(-60px);
  transition: all 0.1seg ease;
  pointer-events: none;
}
.play-button-two::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #fcfcfc;
}
.svg-under {
  margin-right: 1rem !important;
}
svg {
  fill: rgba(255, 255, 255, 0.5);
}
.three-dots {
  text-align: center;
  cursor: pointer;
}
.container-songs {
  padding-left: 21px;
  padding-right: 0px;
}
.song-info {
  border-bottom: solid 1px rgb(100, 99, 99);
  margin-bottom: 2rem;
  padding-bottom: 0;
  position: sticky;
  top: 68px;
  z-index: 500;
  padding-left: 32px;
  padding-right: 40px;
}
.padding-img {
  padding-bottom: 7px;
}
.play-button-list {
  cursor: default;
}
.play-button-list::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid rgb(255, 255, 255);
  border-bottom: 7px solid transparent;
  top: -3px;
  right: -3px;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0;
}
.play-button-list {
  cursor: default;
}
.padding-list {
  padding-top: 5px;
}
.imgg {
  height: 45px;
  width: 45px;
}
.img-thumb {
  width: 100%;
  height: 100%;
}
.album-names {
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bolder;
  /* font-size: 14px; */
}
.heart svg,
.dots {
  opacity: 0;
}
.little-heart,
.dots {
  opacity: 0;
}
.heart svg,
.dots {
  opacity: 0;
}
.dots {
  font-size: 20px;
  padding-bottom: 18px;
  letter-spacing: 2px;
}
